{% extends 'base.html' %}
{% block body %}
<div class="row mt-3 justify-content-center">
    <div class="col-12 col-sm-10">
        <div class="row">
            <div class="col-12 col-lg-4 col-xl-3 card-container">
                <div class="card mt-2 mb-4 mt-lg-4 border-shadow">
                    <img class="card-img-top card-img-top-addon-style" src="/static/bulletin/20210502_1/1.jpg" alt="" width="400px"
                        height="300px">
                    <div class="card-body">
                        <p class="card-title text-bw-grey">
                            <strong>2021年4月1日 / 包权、刘双宇</strong>
                        </p>
                        <a href={{ url_for('bulletin', bulletin_id="20210502_1" ) }}>
                            <h2 class="card-text text-bw-maroon">
                                <strong>生产建设项目水土保持监测季度报告表</strong>
                            </h2>
                        </a>
                        <p class="card-text py-2">
                            工程名称：G331国道丹东至阿勒泰公路三道沟至错草段建设项目 建设单位：白山市高等级公路建设管理中心临江市公路建设管理处 监测时段：2021年1月1日—2021年3月31日 </p>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-bw-gold border-shadow" href={{ url_for('bulletin', bulletin_id="20210502_1" )
                            }}>
                            <strong>详情 →</strong>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4 col-xl-3 card-container">
                <div class="card mt-2 mb-4 mt-lg-4 border-shadow">
                    <img class="card-img-top card-img-top-addon-style" src="/static/bulletin/20210502_2/1.jpg" alt="" width="400px"
                        height="300px">
                    <div class="card-body">
                        <p class="card-title text-bw-grey">
                            <strong>2021年4月1日 / 包权、刘双宇</strong>
                        </p>
                        <a href={{ url_for('bulletin', bulletin_id="20210502_2" ) }}>
                            <h2 class="card-text text-bw-maroon">
                                <strong>生产建设项目水土保持监测季度报告表</strong>
                            </h2>
                        </a>
                        <p class="card-text py-2">
                            工程名称：三合至莫力达瓦旗公路新化至维新段工程 建设单位：龙井市公路建设服务中心 监测时段：2021年1月1日—2021年3月31日 </p>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-bw-gold border-shadow" href={{ url_for('bulletin', bulletin_id="20210502_2" )
                            }}>
                            <strong>详情 →</strong>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4 col-xl-3 card-container">
                <div class="card mt-2 mb-4 mt-lg-4 border-shadow">
                    <img class="card-img-top card-img-top-addon-style" src="/static/bulletin/20210502_3/1.jpg" alt="" width="400px"
                        height="300px">
                    <div class="card-body">
                        <p class="card-title text-bw-grey">
                            <strong>2021年4月1日 / 包权、刘双宇</strong>
                        </p>
                        <a href={{ url_for('bulletin', bulletin_id="20210502_3" ) }}>
                            <h2 class="card-text text-bw-maroon">
                                <strong>生产建设项目水土保持监测季度报告表</strong>
                            </h2>
                        </a>
                        <p class="card-text py-2">
                            工程名称：国道丹阿公路（G331）冷沟子至鸡冠崖子段 建设单位：长白县公路工程建设中心 监测时段：2021年1月1日—2021年3月31日 </p>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-bw-gold border-shadow" href={{ url_for('bulletin', bulletin_id="20210502_3" )
                            }}>
                            <strong>详情 →</strong>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4 col-xl-3 card-container">
                <div class="card mt-2 mb-4 mt-lg-4 border-shadow">
                    <img class="card-img-top card-img-top-addon-style" src="/static/bulletin/20210502_4/1.jpg" alt="" width="400px"
                        height="300px">
                    <div class="card-body">
                        <p class="card-title text-bw-grey">
                            <strong>2021年4月1日 / 包权、刘双宇</strong>
                        </p>
                        <a href={{ url_for('bulletin', bulletin_id="20210502_4" ) }}>
                            <h2 class="card-text text-bw-maroon">
                                <strong>生产建设项目水土保持监测季度报告表</strong>
                            </h2>
                        </a>
                        <p class="card-text py-2">
                            工程名称：国道嘉荫至临江公路（G222）靖宇至江源段建设项目（江源段）建设单位：白山市交通投资集团有限公司 监测时段：2021年1月1日—2021年3月31日 </p>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-bw-gold border-shadow" href={{ url_for('bulletin', bulletin_id="20210502_4" )
                            }}>
                            <strong>详情 →</strong>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4 col-xl-3 card-container">
                <div class="card mt-2 mb-4 mt-lg-4 border-shadow">
                    <img class="card-img-top card-img-top-addon-style" src="/static/bulletin/20210502_5/1.jpg" alt="" width="400px"
                        height="300px">
                    <div class="card-body">
                        <p class="card-title text-bw-grey">
                            <strong>2021年4月1日 / 包权、刘双宇</strong>
                        </p>
                        <a href={{ url_for('bulletin', bulletin_id="20210502_5" ) }}>
                            <h2 class="card-text text-bw-maroon">
                                <strong>生产建设项目水土保持监测季度报告表</strong>
                            </h2>
                        </a>
                        <p class="card-text py-2">
                            工程名称：大安市李家围子至金善公路改建工程 建设单位：大安市村村通工程指挥部办公室 监测时段：2021年1月1日—2021年3月31日 </p>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-bw-gold border-shadow" href={{ url_for('bulletin', bulletin_id="20210502_5" )
                            }}>
                            <strong>详情 →</strong>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4 col-xl-3 card-container">
                <div class="card mt-2 mb-4 mt-lg-4 border-shadow">
                    <img class="card-img-top card-img-top-addon-style" src="/static/bulletin/20210502_6/1.jpg" alt="" width="400px"
                        height="300px">
                    <div class="card-body">
                        <p class="card-title text-bw-grey">
                            <strong>2021年4月1日 / 包权、刘双宇</strong>
                        </p>
                        <a href={{ url_for('bulletin', bulletin_id="20210502_6" ) }}>
                            <h2 class="card-text text-bw-maroon">
                                <strong>生产建设项目水土保持监测季度报告表</strong>
                            </h2>
                        </a>
                        <p class="card-text py-2">
                            工程名称：省道安通公路与平齐铁路交叉道口平改立工程 建设单位：白城市公路工程建设办公室 监测时段：2021年1月1日—2021年3月31日 </p>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-bw-gold border-shadow" href={{ url_for('bulletin', bulletin_id="20210502_6" )
                            }}>
                            <strong>详情 →</strong>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4 col-xl-3 card-container">
                <div class="card mt-2 mb-4 mt-lg-4 border-shadow">
                    <img class="card-img-top card-img-top-addon-style" src="/static/bulletin/20210502_7/1.jpg" alt="" width="400px"
                        height="300px">
                    <div class="card-body">
                        <p class="card-title text-bw-grey">
                            <strong>2021年4月1日 / 包权、刘双宇</strong>
                        </p>
                        <a href={{ url_for('bulletin', bulletin_id="20210502_7" ) }}>
                            <h2 class="card-text text-bw-maroon">
                                <strong>生产建设项目水土保持监测季度报告表</strong>
                            </h2>
                        </a>
                        <p class="card-text py-2">
                            工程名称：省道扎突公路与平齐铁路交叉道口（洮南市南出口）平改立工程 建设单位：白城市交通运输局 监测时段：2021年1月1日—2021年3月31日 </p>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-bw-gold border-shadow" href={{ url_for('bulletin', bulletin_id="20210502_7" )
                            }}>
                            <strong>详情 →</strong>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4 col-xl-3 card-container">
                <div class="card mt-2 mb-4 mt-lg-4 border-shadow">
                    <img class="card-img-top card-img-top-addon-style" src="/static/bulletin/20210502_8/1.jpg" alt="" width="400px"
                        height="300px">
                    <div class="card-body">
                        <p class="card-title text-bw-grey">
                            <strong>2021年4月1日 / 包权、刘双宇</strong>
                        </p>
                        <a href={{ url_for('bulletin', bulletin_id="20210502_8" ) }}>
                            <h2 class="card-text text-bw-maroon">
                                <strong>生产建设项目水土保持监测季度报告表</strong>
                            </h2>
                        </a>
                        <p class="card-text py-2">
                            工程名称：省道石通线七道江至通化（公路与铁路平交道口改造）项目 建设单位：白山市交通投资集团有限公司 监测时段：2021年1月1日—2021年3月31日 </p>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-bw-gold border-shadow" href={{ url_for('bulletin', bulletin_id="20210502_8" )
                            }}>
                            <strong>详情 →</strong>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="page">
    <div class="page-inner text-center">
        <a href={{ url_for('bulletin', bulletin_page="2" ) }} class="n">&lt;上一页 </a>
        <a href={{ url_for('bulletin', bulletin_page="1" ) }}>
            <span class="fk fkd"><i class="c-icon c-icon-bear-pn"></i></span><span class="pc">1</span></a>
        <a href={{ url_for('bulletin', bulletin_page="2" ) }}>
            <span class="fk fkd"><i class="c-icon c-icon-bear-pn"></i></span><span class="pc">2</span></a>
        <strong><span class="fk fk_cur"><i class="c-icon c-icon-bear-p"></i></span><span class="pc">3</span></strong>
        <a href={{ url_for('bulletin', bulletin_page="4" ) }}>
            <span class="fk fkd"><i class="c-icon c-icon-bear-pn"></i></span><span class="pc">4</span></a>
        <a href={{ url_for('bulletin', bulletin_page="5" ) }}>
            <span class="fk fkd"><i class="c-icon c-icon-bear-pn"></i></span><span class="pc">5</span></a>
        <a href={{ url_for('bulletin', bulletin_page="4" ) }} class="n">下一页 &gt;</a>
    </div>
</div>
{% endblock %}