{% extends 'base.html' %}
{% block body %}
<div class="row mt-3 justify-content-center">
    <div class="col-12 col-sm-10">
        <div class="row">
            <div class="col-12 col-lg-4 col-xl-3 card-container">
                <div class="card mt-2 mb-4 mt-lg-4 border-shadow">
                    <img class="card-img-top card-img-top-addon-style" src="/static/bulletin/20210730_7/1.jpg" alt="" width="400px"
                        height="300px">
                    <div class="card-body">
                        <p class="card-title text-bw-grey">
                            <strong>2021年6月30日 / 包权、刘双宇</strong>
                        </p>
                        <a href={{ url_for('bulletin', bulletin_id="20210730_7" ) }}>
                            <h2 class="card-text text-bw-maroon">
                                <strong>生产建设项目水土保持监测季度报告表</strong>
                            </h2>
                        </a>
                        <p class="card-text py-2">
                            工程名称：大安市李家围子至金善公路改建工程 建设单位：大安市村村通工程指挥部办公室 监测时段：2021年4月1日—2021年6月30日 </p>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-bw-gold border-shadow" href={{ url_for('bulletin', bulletin_id="20210730_7" )
                            }}>
                            <strong>详情 →</strong>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4 col-xl-3 card-container">
                <div class="card mt-2 mb-4 mt-lg-4 border-shadow">
                    <img class="card-img-top card-img-top-addon-style" src="/static/bulletin/20210730_8/1.jpg" alt="" width="400px"
                        height="300px">
                    <div class="card-body">
                        <p class="card-title text-bw-grey">
                            <strong>2021年7月1日 / 包权、刘双宇</strong>
                        </p>
                        <a href={{ url_for('bulletin', bulletin_id="20210730_8" ) }}>
                            <h2 class="card-text text-bw-maroon">
                                <strong>生产建设项目水土保持监测季度报告表</strong>
                            </h2>
                        </a>
                        <p class="card-text py-2">
                            工程名称：省道石通线七道江至通化（公路与铁路平交道口改造）项目 建设单位：白山市交通投资集团有限公司 监测时段：2021年4月1日—2021年6月30日 </p>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-bw-gold border-shadow" href={{ url_for('bulletin', bulletin_id="20210730_8" )
                            }}>
                            <strong>详情 →</strong>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4 col-xl-3 card-container">
                <div class="card mt-2 mb-4 mt-lg-4 border-shadow">
                    <img class="card-img-top card-img-top-addon-style" src="/static/bulletin/20210730_9/1.jpg" alt="" width="400px"
                        height="300px">
                    <div class="card-body">
                        <p class="card-title text-bw-grey">
                            <strong>2021年7月1日 / 包权、刘双宇</strong>
                        </p>
                        <a href={{ url_for('bulletin', bulletin_id="20210730_9" ) }}>
                            <h2 class="card-text text-bw-maroon">
                                <strong>生产建设项目水土保持监测季度报告表</strong>
                            </h2>
                        </a>
                        <p class="card-text py-2">
                            工程名称：长春至双阳公路 建设单位：长春市长双公路建设管理中心 监测时段：2021年4月1日—2021年6月30日 </p>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-bw-gold border-shadow" href={{ url_for('bulletin', bulletin_id="20210730_9" )
                            }}>
                            <strong>详情 →</strong>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4 col-xl-3 card-container">
                <div class="card mt-2 mb-4 mt-lg-4 border-shadow">
                    <img class="card-img-top card-img-top-addon-style" src="/static/bulletin/20210730_10/1.jpg" alt="" width="400px"
                        height="300px">
                    <div class="card-body">
                        <p class="card-title text-bw-grey">
                            <strong>2021年7月1日 / 包权、刘双宇</strong>
                        </p>
                        <a href={{ url_for('bulletin', bulletin_id="20210730_10" ) }}>
                            <h2 class="card-text text-bw-maroon">
                                <strong>生产建设项目水土保持监测季度报告表</strong>
                            </h2>
                        </a>
                        <p class="card-text py-2">
                            工程名称：国道丹阿公路（G331）冷沟子至鸡冠崖子段 建设单位：长白朝鲜族自治县公路工程建设发展服务中心 监测时段：2021年4月1日—2021年6月30日 </p>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-bw-gold border-shadow" href={{ url_for('bulletin', bulletin_id="20210730_10" )
                            }}>
                            <strong>详情 →</strong>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4 col-xl-3 card-container">
                <div class="card mt-2 mb-4 mt-lg-4 border-shadow">
                    <img class="card-img-top card-img-top-addon-style" src="/static/bulletin/20210730_11/1.jpg" alt="" width="400px"
                        height="300px">
                    <div class="card-body">
                        <p class="card-title text-bw-grey">
                            <strong>2021年6月30日 / 包权、刘双宇</strong>
                        </p>
                        <a href={{ url_for('bulletin', bulletin_id="20210730_11" ) }}>
                            <h2 class="card-text text-bw-maroon">
                                <strong>生产建设项目水土保持监测季度报告表</strong>
                            </h2>
                        </a>
                        <p class="card-text py-2">
                            工程名称：省道齐齐哈尔至大安公路莫莫格至月亮泡段工程 建设单位：镇赉县公路建设办公室 监测时段：2021年4月1日—2021年6月30日 </p>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-bw-gold border-shadow" href={{ url_for('bulletin', bulletin_id="20210730_11" )
                            }}>
                            <strong>详情 →</strong>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="page">
    <div class="page-inner text-center">
        <a href={{ url_for('bulletin', bulletin_page="4" ) }} class="n">&lt;上一页 </a>
        <a href={{ url_for('bulletin', bulletin_page="1" ) }}>
            <span class="fk fkd"><i class="c-icon c-icon-bear-pn"></i></span><span class="pc">1</span></a>
        <a href={{ url_for('bulletin', bulletin_page="2" ) }}>
            <span class="fk fkd"><i class="c-icon c-icon-bear-pn"></i></span><span class="pc">2</span></a>
        <a href={{ url_for('bulletin', bulletin_page="3" ) }}>
            <span class="fk fkd"><i class="c-icon c-icon-bear-pn"></i></span><span class="pc">3</span></a>
        <a href={{ url_for('bulletin', bulletin_page="4" ) }}>
            <span class="fk fkd"><i class="c-icon c-icon-bear-pn"></i></span><span class="pc">4</span></a>
        <strong><span class="fk fk_cur"><i class="c-icon c-icon-bear-p"></i></span><span class="pc">5</span></strong>
    </div>
</div>
{% endblock %}