{% extends 'base.html' %}
{% block body %}
<div class="main-content">
    <!-- Content wrapper -->
    <div class="container">
        <div class="row">
            <div class="col-12">
                <article>
                    <h1 class="text-center mt-3">生产建设项目水土保持监测季度报告表</h1>
                    <div class="div_border mt-3">
                        <p class="mt-1 whitespace_pre"> 工程名称：国道嘉荫至临江公路（G222）靖宇至江源段建设项目（江源段）</p>
                        <p class="mt-1 whitespace_pre"> 建设单位：白山市交通投资集团有限公司</p>
                        <p class="whitespace_pre"> 监测时段：2020年10月1日—2020年12月31日 监测单位：吉林省鲲达工程咨询有限公司</p>
                        <p class="whitespace_pre"> 监测人员：包权、刘双宇 填表时间：2020年12月31日</p>
                    </div>
                    <hr>
                    <p><img loading="lazy" class="aligncenter size-full wp-image-99424"
                            src="/static/bulletin/20210125_3/report_chart.jpg" alt="bulletin_20210125_3.jpg" width="600"
                            height="auto""></p>
                </article>
            </div><!-- col -->
        </div><!-- row -->
    </div><!-- container-fluid -->
</div> <!-- close Content wrapper -->
<div id="page">
    <div class="page-inner text-center">
        <a href={{ url_for('bulletin', bulletin_id="20210125_2" ) }} class="n">&lt;上一页 </a>
        <a href={{ url_for('bulletin', bulletin_id="20210125_4" ) }} class="n">下一页 &gt;</a>
    </div>
</div>
{% endblock %}