{% extends 'base.html' %}
{% block body %}
<div class="main-content">
    <!-- Content wrapper -->
    <div class="container">
        <div class="row">
            <div class="col-12">
                <article>
                    <h1 class="text-center mt-3">生产建设项目水土保持监测季度报告表</h1>
                    <div class="div_border mt-3">
                        <p class="mt-1 whitespace_pre">  工程名称：省道安通公路与平齐铁路交叉道口平改立工程</p>
                        <p class="mt-1 whitespace_pre"> 建设单位：白城市公路工程建设办公室</p>
                        <p class="whitespace_pre"> 监测时段：2021年4月1日—2021年6月30日 监测单位：吉林省鲲达工程咨询有限公司</p>
                        <p class="whitespace_pre"> 监测人员：包权、刘双宇 填表时间：2021年7月1日 </p>
                    </div>
                    <hr>
                    <p><img loading="lazy" class="aligncenter size-full wp-image-99424"
                            src="/static/bulletin/20210730_4/report_chart.jpg" alt="bulletin_20210730_4.jpg" width="900"
                            height="auto""></p>
                </article>
            </div><!-- col -->
        </div><!-- row -->
    </div><!-- container-fluid -->
</div> <!-- close Content wrapper -->
<div id="page">
    <div class="page-inner text-center">
        <a href={{ url_for('bulletin', bulletin_id="20210730_3" ) }} class="n">&lt;上一页 </a>
        <a href={{ url_for('bulletin', bulletin_id="20210730_5" ) }} class="n">下一页 &gt;</a>
    </div>
</div>
{% endblock %}