{% extends 'base.html' %}
{% block body %}
<div class="row mt-3 justify-content-center">
    <div class="col-12 col-sm-10">
        <div class="row">
            <div class="col-12 col-lg-4 col-xl-3 card-container">
                <div class="card mt-2 mb-4 mt-lg-4 border-shadow">
                    <img class="card-img-top"
                        src="/static/bulletin/20200930_1/3.jpg"
                        alt="" width="400px" height="300px">
                    <div class="card-body">
                        <p class="card-title text-bw-grey">
                            <strong>2020年9月30日 / 包权、刘双宇</strong>
                        </p>
                        <a href={{ url_for('bulletin', bulletin_id = "20200930_1") }}>
                            <h2 class="card-text text-bw-maroon">
                                <strong>生产建设项目水土保持监测季度报告表</strong>
                            </h2>
                        </a>
                        <p class="card-text py-2">
                            长春至双阳公路为新建建设类项目, 本项目建设地点为长春市, 路线起点位于小南屯北约700米，与新城大街平交向东布线。 </p>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-bw-gold border-shadow"
                            href={{ url_for('bulletin', bulletin_id = "20200930_1") }}>
                            <strong>详情 →</strong>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}