{% extends 'base.html' %}
{% block body %}
<!-- HERO BANNER -->
<div class="container-fluid" id="contact-info">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="header-page-title">Contact Info</h2>
                <div class="row">
                    <div class="col-12 col-md-6 card-container pr-2">

                        <div class="card">

                            <div class="card-body">

                                <h3 class="card-title">Media Inquiries</h3>
                                <div class="card-text">
                                    <p>Oanh Kasperski (<a
                                            href="mailto:kasperso@mcmaster.ca">kasperso@mcmaster.ca</a>)<strong><a
                                                href="mailto:kasperso@mcmaster.ca"><br>
                                            </a></strong>905-525-9140 ext. 24871</p>
                                </div>
                            </div><!-- card-body -->
                        </div><!-- card -->
                    </div><!-- col -->
                    <div class="col-12 col-md-6 card-container pr-2">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title">Recruiting Inquiries</h3>
                                <div class="card-text">
                                    <p>Career and Professional Development Centre<br>
                                        <a href="https://cpd.degroote.mcmaster.ca/contact/">CPD Contact
                                            Information</a></p>
                                </div>
                            </div><!-- card-body -->
                        </div><!-- card -->
                    </div><!-- col -->
                    <div class="col-12 col-md-6 card-container pr-2">
                        <div class="card">
                            <div class="card-body">

                                <h3 class="card-title">Alumni Inquiries</h3>
                                <div class="card-text">
                                    <p>Kellie Rabak (<a href="mailto:rabakk@mcmaster.ca">rabakk@mcmaster.ca</a>)<br>
                                        905-525-9140 ext. 26971<br>
                                        For transcript, degree, or convocation inquiries, please contact the&nbsp;<a
                                            href="http://registrar.mcmaster.ca/">Office of the Registrar</a>.</p>
                                </div>
                            </div><!-- card-body -->
                        </div><!-- card -->
                    </div><!-- col -->
                    <div class="col-12 col-md-6 card-container pr-2">
                        <div class="card">
                            <div class="card-body">

                                <h3 class="card-title">Fundraising and Advancement Inquiries</h3>
                                <div class="card-text">
                                    <p>Erin Matthews (<a
                                            href="mailto:matthewe@mcmaster.ca">matthewe@mcmaster.ca</a>)<br>
                                        905-525-9140 ext. 24918</p>
                                </div>
                            </div><!-- card-body -->
                        </div><!-- card -->
                    </div><!-- col -->
                    <div class="col-12 col-md-6 card-container pr-2">
                        <div class="card">
                            <div class="card-body">

                                <h3 class="card-title">Website and Social Media Inquiries</h3>
                                <div class="card-text">
                                    <p>Jared Lenover (<a href="mailto:lenover@mcmaster.ca">lenover@mcmaster.ca</a>)<br>
                                        905-525-9140 ext. 24560</p>
                                </div>
                            </div><!-- card-body -->
                        </div><!-- card -->
                    </div><!-- col -->
                    <div class="col-12 col-md-6 card-container pr-2">

                        <div class="card">

                            <div class="card-body">

                                <h3 class="card-title">Fax</h3>
                                <div class="card-text">
                                    <p>The&nbsp;fax number<strong>&nbsp;</strong>for the DeGroote School of Business
                                        is&nbsp;905-521-8995.</p>
                                </div>

                            </div><!-- card-body -->

                        </div><!-- card -->

                    </div><!-- col -->
                </div><!-- row -->
            </div><!-- col -->
        </div><!-- row -->
    </div><!-- container -->
</div><!-- container -->
<div class="container" id="contact-locations">
    <div class="row">
        <div class="col-12">
            <h2 class="header-page-title">Locations</h2>
            <div class="row">
                <div class="col-12 col-md-6 card-container pb-4 pr-2">
                    <div class="card">
                        <img src="/static/contact/degroote-main-campus-1.jpg" alt="" class="card-img-top">
                        <div class="card-body">
                            <h3 class="card-title">Main Campus</h3>
                            <div class="card-text">
                                <p>DeGroote’s&nbsp;<a title="Undergraduate Programs"
                                        href="https://ug.degroote.mcmaster.ca/">undergraduate programs</a>,&nbsp;<a
                                        title="Specialized Graduate Programs"
                                        href="https://www.degroote.mcmaster.ca/programs/">specialized graduate
                                        programs</a>&nbsp;and&nbsp;<a title="PhD Program"
                                        href="https://phd.degroote.mcmaster.ca/">PhD program</a>&nbsp;are based on
                                    McMaster University’s main campus in&nbsp;<strong>Hamilton, ON</strong>.</p>
                                <h4>Address</h4>
                                <p>1280 Main Street West<br>
                                    Hamilton, Ontario<br>
                                    L8S 4M4</p>
                                <p><a title="Google Map"
                                        href="https://www.google.com/maps/preview#!q=DeGroote+School+of+Business%2C+McMaster+University&amp;data=!4m10!1m9!4m8!1m3!1d2701!2d-79.9165136!3d43.2641534!3m2!1i1499!2i714!4f13.1">Google
                                        Map</a></p>
                                <p>Directions for getting to McMaster&nbsp;<a title="Directions to McMaster University"
                                        href="http://www.mcmaster.ca/welcome/findus.cfm">can be found on the main
                                        website</a>. Go to the entrance on Sterling Street. Enter and then turn
                                    right.</p>
                                <p>Pay parking for visitors is available in lots B, C, D, E, F, G, H and the
                                    stadium. A parking map can be found on the McMaster&nbsp;<a title="Parking Map"
                                        href="http://parking.mcmaster.ca/Map.html">parking website</a>.</p>
                                <p>You can&nbsp;<a title="McMaster Campus Tours"
                                        href="http://future.mcmaster.ca/tours/">take a tour</a>&nbsp;(virtual or
                                    in-person) of the McMaster campus.</p>
                            </div>
                        </div><!-- card-body -->
                    </div><!-- card -->
                </div><!-- col -->
                <div class="col-12 col-md-6 card-container pb-4 pr-2">
                    <div class="card">
                        <img src="/static/contact/Ron-Joyce-Centre-1.jpg" alt="" class="card-img-top">
                        <div class="card-body">
                            <h3 class="card-title">Ron Joyce Centre</h3>
                            <div class="card-text">
                                <p>DeGroote’s&nbsp;<a title="MBA Program"
                                        href="http://mba.degroote.mcmaster.ca/">MBA</a>&nbsp;and&nbsp;<a
                                        title="Executive Education Programs"
                                        href="https://execed.degroote.mcmaster.ca/">Executive
                                        Education</a>&nbsp;programs are based at the&nbsp;<a
                                        title="Ron Joyce Centre Website" href="https://rjc.degroote.mcmaster.ca/">Ron
                                        Joyce
                                        Centre</a>&nbsp;in&nbsp;<strong>Burlington, ON</strong>.</p>
                                <h4>Address</h4>
                                <p>4350 South Service Road<br>
                                    Burlington, ON<br>
                                    L7L 5R8</p>
                                <p><a title="Google Map"
                                        href="https://www.google.com/maps/preview#!q=4350+South+Service+Road%2C+Burlington%2C+ON&amp;data=!4m10!1m9!4m8!1m3!1d2701!2d-79.872131!3d43.256774!3m2!1i1499!2i714!4f13.1">Google
                                        Map</a></p>
                                <p>Pay parking for visitors is available.</p>
                                <p><strong>RJC Tours and General Inquiries</strong><br>
                                    <a title="Email the RJC" href="mailto:rjc@mcmaster.ca">rjc@mcmaster.ca</a><br>
                                    905-525-9140 ext. 20536</p>
                                <p><strong>RJC Conference and Event Rental Inquiries</strong><br>
                                    Please visit the&nbsp;<a title="Event Bookings at the RJC"
                                        href="https://rjc.degroote.mcmaster.ca/bookings/">event bookings
                                        section</a>&nbsp;of the Ron Joyce Centre website.</p>
                            </div>
                        </div><!-- card-body -->
                    </div><!-- card -->
                </div><!-- col -->
            </div><!-- row -->
        </div><!-- col -->
    </div><!-- row -->

</div><!-- container -->
{% endblock %}