{% extends 'base.html' %}
{% block body %}
<div id="News">
    <section>
        <div class="container">
            <div class="text-center">
                <h2>公示栏</h2>
            </div>
            <div class="row equal-row">
                <div class="col-md-12 block-22915" style="height: 600px;">
                    <div
                        class="view view-news-grid-for-home-blocks view-id-news_grid_for_home_blocks view-display-id-block view-dom-id-e037794ba4d0a874a9179cd69a2f0e17">
                        <div class="view-content">
                            <div id="news-row" class="row equal-row text-left">
                                <div class="mt-2 col-md-4 col-sm-6 card-container border-shadow" style="height: 550px;">
                                    <img class="card-img-top" src="/static/bulletin/20201114_1.jpg" alt="" width="400px"
                                        height="300px">
                                    <div class="card-body">
                                        <p class="card-title text-bw-grey">
                                            <strong>2020年11月14日 / 
                                                宠物</strong>
                                        </p>
                                        <a href="/bulletin?bulletin_id=20201114_1" target="_blank">
                                            <h2 class="card-text text-bw-maroon">
                                                <strong>三只猫太能吃</strong>
                                            </h2>
                                        </a>
                                        <p class="card-text py-2">
                                            东风夜放花千树，更吹落，星如雨，宝马雕车香满路，凤箫声动，玉壶光转，一夜鱼龙舞。</p>
                                    </div>
                                </div>
                                <div class="mt-2 col-md-4 col-sm-6 card-container border-shadow" style="height: 550px;">
                                    <img class="card-img-top" src="/static/bulletin/20201114_2.jpg" alt="" width="400px"
                                        height="300px">
                                    <div class="card-body">
                                        <p class="card-title text-bw-grey">
                                            <strong>2020年11月14日 / 
                                                宠物</strong>
                                        </p>
                                        <a href="/bulletin?bulletin_id=20201114_2" target="_blank">
                                            <h2 class="card-text text-bw-maroon">
                                                <strong>一只狗狗汪汪汪!</strong>
                                            </h2>
                                        </a>
                                        <p class="card-text py-2">
                                            曾经沧海难为水，除却巫山不是云，取次花丛懒回顾，半缘修道半缘君。</p>
                                    </div>
                                </div>
                                <div class="mt-2 col-md-4 col-sm-6 card-container border-shadow" style="height: 550px;">
                                    <img class="card-img-top" src="/static/bulletin/20201114_3.jpg" alt="" width="400px"
                                        height="300px">
                                    <div class="card-body">
                                        <p class="card-title text-bw-grey">
                                            <strong>2020年11月14日 / 
                                                宠物</strong>
                                        </p>
                                        <a href="/bulletin?bulletin_id=20201114_3" target="_blank">
                                            <h2 class="card-text text-bw-maroon">
                                                <strong>两个毛球一起洗澡</strong>
                                            </h2>
                                        </a>
                                        <p class="card-text py-2">
                                            纤云弄巧，飞星传恨，银汉迢迢暗渡。金风玉露一相逢，便胜却，人间无数。柔情似水，佳期如梦，忍顾鹊桥归路。两情若是久长时，又岂在，朝朝暮暮。。</p>
                                    </div>
                                </div>
                            </div>
                            <p class="text-right">
                                <a class="btn btn-bw-blue btn-default" href="/bulletin">Read More</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
    </section>
</div>
<hr />
<div id="News">
    <section>
        <div class="container">
            <div class="text-center">
                <h2>项目进展</h2>
            </div>
            <div class="row equal-row">
                <div class="col-md-12 block-22915" style="height: 600px;">
                    <div
                        class="view view-news-grid-for-home-blocks view-id-news_grid_for_home_blocks view-display-id-block view-dom-id-e037794ba4d0a874a9179cd69a2f0e17">
                        <div class="view-content">
                            <div id="news-row" class="row equal-row text-left">
                                <div class="mt-2 col-md-4 col-sm-6 card-container border-shadow" style="height: 550px;">
                                    <img class="card-img-top" src="/static/bulletin/20201114_1.jpg" alt="" width="400px"
                                        height="300px">
                                    <div class="card-body">
                                        <p class="card-title text-bw-grey">
                                            <strong>2020年11月14日 / 
                                                宠物</strong>
                                        </p>
                                        <a href="/bulletin?bulletin_id=20201114_1" target="_blank">
                                            <h2 class="card-text text-bw-maroon">
                                                <strong>三只猫太能吃</strong>
                                            </h2>
                                        </a>
                                        <p class="card-text py-2">
                                            东风夜放花千树，更吹落，星如雨，宝马雕车香满路，凤箫声动，玉壶光转，一夜鱼龙舞。</p>
                                    </div>
                                </div>
                                <div class="mt-2 col-md-4 col-sm-6 card-container border-shadow" style="height: 550px;">
                                    <img class="card-img-top" src="/static/bulletin/20201114_2.jpg" alt="" width="400px"
                                        height="300px">
                                    <div class="card-body">
                                        <p class="card-title text-bw-grey">
                                            <strong>2020年11月14日 / 
                                                宠物</strong>
                                        </p>
                                        <a href="/bulletin?bulletin_id=20201114_2" target="_blank">
                                            <h2 class="card-text text-bw-maroon">
                                                <strong>一只狗狗汪汪汪!</strong>
                                            </h2>
                                        </a>
                                        <p class="card-text py-2">
                                            曾经沧海难为水，除却巫山不是云，取次花丛懒回顾，半缘修道半缘君。</p>
                                    </div>
                                </div>
                                <div class="mt-2 col-md-4 col-sm-6 card-container border-shadow" style="height: 550px;">
                                    <img class="card-img-top" src="/static/bulletin/20201114_3.jpg" alt="" width="400px"
                                        height="300px">
                                    <div class="card-body">
                                        <p class="card-title text-bw-grey">
                                            <strong>2020年11月14日 / 
                                                宠物</strong>
                                        </p>
                                        <a href="/bulletin?bulletin_id=20201114_3" target="_blank">
                                            <h2 class="card-text text-bw-maroon">
                                                <strong>两个毛球一起洗澡</strong>
                                            </h2>
                                        </a>
                                        <p class="card-text py-2">
                                            纤云弄巧，飞星传恨，银汉迢迢暗渡。金风玉露一相逢，便胜却，人间无数。柔情似水，佳期如梦，忍顾鹊桥归路。两情若是久长时，又岂在，朝朝暮暮。。</p>
                                    </div>
                                </div>
                            </div>
                            <p class="text-right">
                                <a class="btn btn-bw-blue btn-default" href="/bulletin">Read More</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
    </section>
</div>
{% endblock %}