{% extends 'base.html' %}
{% block body %}
<div class="main-content">
    <!-- Content wrapper -->
    <h1 class="header-post-title">公司简介</h1>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="col-lg-6" style="float:left">
                    <img loading="lazy" src="/static/intro/certificate.jpg" alt="certificate.jpg" width="512" height="auto" sizes="(max-width: 1024px) 100vw, 1024px">
                </div>
                <div id="bulletin-sidebar" class="col-lg-6" style="float:right">
                    <p class="z_cen_box f_size_3">
                        吉林省通鹏工程咨询有限公司成立于2013年，主营业务为工程建设项目的技术咨询服务，包括公路、铁路、桥梁、水利水电、市政工程、机场、建筑工程、环境工程的勘察、设计、规划、可行性研究，建设项目的交通影响评价分析、社会稳定风险评估论证分析、选址论证、水土保持技术咨询、环境保护技术咨询。
                    </p>
                </div>
            </div><!-- col -->

        </div><!-- row -->
    </div><!-- container-fluid -->
</div> <!-- close Content wrapper -->
{% endblock %}