{% extends 'base.html' %}
{% block body %}
<div class="row mt-3 justify-content-center">
    <div class="col-12 col-sm-10">
        <div class="row">
            <div class="col-12 col-lg-4 col-xl-3 card-container">
                <div class="card mt-2 mb-4 mt-lg-4 border-shadow">
                    <img class="card-img-top"
                        src="/static/project/20201114_1.jpg"
                        alt="" width="400px" height="300px">
                    <div class="card-body">
                        <p class="card-title text-bw-grey">
                            <strong>November 9th, 2020</strong>
                        </p>
                        <a href={{ url_for('project', project_id = "20201114_1") }}
                            target="_blank">
                            <h2 class="card-text text-bw-maroon">
                                <strong>Knowledge Labs: In the Know with Gillian Mulvale</strong>
                            </h2>
                        </a>
                        <p class="card-text py-2">
                            This week's In the Know: Associate Professor Gillian Mulvale talks about experience based
                            co-design for mental health care. </p>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-bw-gold border-shadow"
                            href={{ url_for('project', project_id = "20201114_1") }}
                            target="_blank">
                            <strong>READ DETAILS →</strong>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4 col-xl-3 card-container">
                <div class="card mt-2 mb-4 mt-lg-4 border-shadow">
                    <img class="card-img-top"
                        src="/static/project/20201114_2.jpg"
                        alt="" width="400px" height="300px">
                    <div class="card-body">
                        <p class="card-title text-bw-grey">
                            <strong>November 9th, 2020</strong>
                        </p>
                        <a href={{ url_for('project', project_id = "20201114_2") }}
                            target="_blank">
                            <h2 class="card-text text-bw-maroon">
                                <strong>Knowledge Labs: In the Know with Gillian Mulvale</strong>
                            </h2>
                        </a>
                        <p class="card-text py-2">
                            This week's In the Know: Associate Professor Gillian Mulvale talks about experience based
                            co-design for mental health care. </p>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-bw-gold border-shadow"
                            href={{ url_for('project', project_id = "20201114_2") }}
                            target="_blank">
                            <strong>READ DETAILS →</strong>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4 col-xl-3 card-container">
                <div class="card mt-2 mb-4 mt-lg-4 border-shadow">
                    <img class="card-img-top"
                        src="/static/project/20201114_3.jpg"
                        alt="" width="400px" height="300px">
                    <div class="card-body">
                        <p class="card-title text-bw-grey">
                            <strong>November 9th, 2020</strong>
                        </p>
                        <a href={{ url_for('project', project_id = "20201114_3") }}
                            target="_blank">
                            <h2 class="card-text text-bw-maroon">
                                <strong>Knowledge Labs: In the Know with Gillian Mulvale</strong>
                            </h2>
                        </a>
                        <p class="card-text py-2">
                            This week's In the Know: Associate Professor Gillian Mulvale talks about experience based
                            co-design for mental health care. </p>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-bw-gold border-shadow"
                            href={{ url_for('project', project_id = "20201114_3") }}
                            target="_blank">
                            <strong>READ DETAILS →</strong>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4 col-xl-3 card-container">
                <div class="card mt-2 mb-4 mt-lg-4 border-shadow">
                    <img class="card-img-top"
                        src="/static/project/20201114_1.jpg"
                        alt="" width="400px" height="300px">
                    <div class="card-body">
                        <p class="card-title text-bw-grey">
                            <strong>November 9th, 2020</strong>
                        </p>
                        <a href={{ url_for('project', project_id = "20201114_1") }}
                            target="_blank">
                            <h2 class="card-text text-bw-maroon">
                                <strong>Knowledge Labs: In the Know with Gillian Mulvale</strong>
                            </h2>
                        </a>
                        <p class="card-text py-2">
                            This week's In the Know: Associate Professor Gillian Mulvale talks about experience based
                            co-design for mental health care. </p>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-bw-gold border-shadow"
                            href={{ url_for('project', project_id = "20201114_1") }}
                            target="_blank">
                            <strong>READ DETAILS →</strong>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4 col-xl-3 card-container">
                <div class="card mt-2 mb-4 mt-lg-4 border-shadow">
                    <img class="card-img-top"
                        src="/static/project/20201114_2.jpg"
                        alt="" width="400px" height="300px">
                    <div class="card-body">
                        <p class="card-title text-bw-grey">
                            <strong>November 9th, 2020</strong>
                        </p>
                        <a href={{ url_for('project', project_id = "20201114_2") }}
                            target="_blank">
                            <h2 class="card-text text-bw-maroon">
                                <strong>Knowledge Labs: In the Know with Gillian Mulvale</strong>
                            </h2>
                        </a>
                        <p class="card-text py-2">
                            This week's In the Know: Associate Professor Gillian Mulvale talks about experience based
                            co-design for mental health care. </p>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-bw-gold border-shadow"
                            href={{ url_for('project', project_id = "20201114_2") }}
                            target="_blank">
                            <strong>READ DETAILS →</strong>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4 col-xl-3 card-container">
                <div class="card mt-2 mb-4 mt-lg-4 border-shadow">
                    <img class="card-img-top"
                        src="/static/project/20201114_3.jpg"
                        alt="" width="400px" height="300px">
                    <div class="card-body">
                        <p class="card-title text-bw-grey">
                            <strong>November 9th, 2020</strong>
                        </p>
                        <a href={{ url_for('project', project_id = "20201114_3") }}
                            target="_blank">
                            <h2 class="card-text text-bw-maroon">
                                <strong>Knowledge Labs: In the Know with Gillian Mulvale</strong>
                            </h2>
                        </a>
                        <p class="card-text py-2">
                            This week's In the Know: Associate Professor Gillian Mulvale talks about experience based
                            co-design for mental health care. </p>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-bw-gold border-shadow"
                            href={{ url_for('project', project_id = "20201114_3") }}
                            target="_blank">
                            <strong>READ DETAILS →</strong>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}