{% extends 'base.html' %}
{% block body %}
<div class="main-content">
    <!-- Content wrapper -->
    <div class="container">
        <div class="row">
            <div class="col-12">
                <article class="bulletin-post">
                    <header>
                        <h1 class="header-post-title">两个毛球一起洗澡</h1>
                        <div id="bulletin-post-info">
                            <span class="dsb-date-published">2020-11-14</span> | eric gu 独家报道 </div>
                    </header>
                    <p><img loading="lazy" class="aligncenter size-full wp-image-99424"
                            src="/static/project/20201114_3.jpg" alt="bulletin_20201114_3.jpg" width="512" height="512"
                            sizes="(max-width: 1024px) 100vw, 1024px"></p>
                    <div class="z_cen_box f_size_2">
                        <p>
                            据美国《国会山报》当地时间13日报道，在CBS周日早间节目即将播出的一段采访中，美国前总统奥巴马评价了现任总统特朗普声称存在“选举欺诈”的言行，并对共和党支持这一毫无根据的言论“感到失望”。
                        </p>
                        <p>
                            当年特朗普获胜后，我熬夜到凌晨2:30，然后打电话祝贺了他。当时他领先希拉里的优势，并不比拜登领先他的要多，”奥巴马在采访中说，“但如果你收听特朗普选民们正在收听的电台谈话节目，如果你在看福克斯新闻，如果你看到那些推文，那些指控仿佛都成了事实。这就导致会有数百万人认为，‘哦，是的，这肯定是作弊，因为总统都这么说了。’”
                        </p>
                        <p>
                            “其实他们显然不认为存在任何欺诈行为，因为计票的头两天他们什么都没说，”奥巴马说，“但这是有害的，因为所发生的是权力的和平转移，即我们任何一个当选公职的人，不管是捕狗员还是总统，都是人民的公仆。这只是一份临时工作。”
                        </p>
                        <p>
                            奥巴马认为，即使存在这些疑问，拜登和哈里斯都将宣誓就职，而特朗普的行为“没有法律依据”。奥巴马说，“看着吧，拜登将成为美国下一任总统。哈里斯将成为下一任副总统。”
                        </p>
                    </div>
                    <section id="bulletin-comments" class="row comments-area">
                    </section>
                </article>
            </div><!-- col -->

        </div><!-- row -->
    </div><!-- container-fluid -->
</div> <!-- close Content wrapper -->
{% endblock %}